	body{
		margin: 0;
		padding: 0;

	}
	
	#headerNewWrapper{

		position: relative;
		padding: 0;
		margin: 0;
		overflow: hidden;
		height: 200px;
		padding-top: 0px;
		background-image: url(../images/headerlogo/storepic.jpg);
		background-repeat: no-repeat;
		background-size: 100% 700px;
		background-position: top center;
		 background-attachment: fixed;
	}
	#logotext{
		position: absolute;
		width: 100%;
		height: 70px;
		background-image:url(../images/headerlogo/header1.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 70% 180px;
		top: 40%;
		margin-top:-190px; 
	}
/*
	#headerNewWrapper{

		position:relative;
		padding: 0;
		margin: 0;
		overflow: hidden;
		height: 600px;
		background-image: url(../images/headerlogo/nike.jpg);
		background-repeat: no-repeat;
		background-size: 100% 700px;
		background-position: top center;
		 background-attachment: fixed;
	}
	#logotext{
		position: absolute;
		width: 100%;
		height: 180px;
		background-image:url(../images/headerlogo/logoo.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 70% 180px;
		top: 50%;
		margin-top:-90px; 
	}
	*/
	.img-thumb{
		width: 150px;
		height: 150px;

	}

	#footer{
		 
	margin-top:  50px;
	margin-bottom: 50px;

	}

	.img-details{
		width: 99% ;
		margin: 15px auto;
	}
	 
	 .table-auto{
	 	width:auto;
	 	margin: 0 auto;
	 }

	 #addproductbtn{
	 	margin-top: -35px ;
	 }

	 .saved-image img{
	 	width: 200px;
	 	height: auto;
	 }
	 #login-form{
	 	width: 320px;
	 	height: 500px;
	 	border: 2px solid #000;
	 	border-radius: 15px;
	 	box-shadow:  7px 7px 15px rgba(0,0,0,0.6);
	 	margin: 7% auto;
	 	padding: 15px;
	 	background-color: white; 
	 	 
	 }

	 #cart-widget td, #recent_widget{ 
	 	font-size: 12px;
	 }

	 input.price_range{
	 	width: 110px;
	 }


	